/* ГЛОБАЛЬНЫЕ СТИЛИ */
* {
    font-family: "Manrope", "Montserrat", "Arial";
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-blue);
    margin: 0;
    padding: 0;
}

/*  ПЕРЕОПРЕДЕЛЕННЫЕ СТИЛИ BOOTSTRAP */

/* .btn {
      color: var(--dark-blue);
    background-color: var(--light-gray);
    border: var(--light-gray);
}

.btn:hover {
      color: var(--dark-blue);
    background-color: var(--ice-blue);
    border: var(--ice-blue);
}

.btn:active {
      color: var(--dark-blue);
    background-color: var(--ice-blue);
    border: var(--ice-blue);
}

.btn:focus {
      color: var(--dark-blue);
    background-color: var(--ice-blue);
    border: var(--ice-blue);
}

.btn:focus-visible {
    color: #fff;
    background-color: var(--info-blue);
    border-color: var(--info-blue);
    outline: 0;
} */
/* HEADER */
.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 1em 2em;
    height: 8em;
    margin-bottom: 2em;
} 

.header .main-logo {
    margin-right: auto;
}

.header .btn{
    height: 2.5em;
    width: auto;
}

/* LOGO */

.main-logo {
    height: 7em;
    width: auto;
}