:root {
    /* ОСНОВНАЯ ПАЛИТРА */
    --accent-blue: #29345B;
    --dark-blue: #171F29;
    --academy-red: #CA0F3E;
    --classic-red: #A00F33;

    /* ДОПОЛНИТЕЛЬНЫЕ ЦВЕТА */
    --warn-red: #FF5F61; /*акценты, используется для отображения статуса документов (ОТКЛОНЕН)*/
    --info-blue: #4D56BC; /*используется для отображения статуса документов (НЕ ПОДПИСАН)*/
    --ice-blue: #D3E0E4; /*используется для отображения статуса документов (НЕ ПРОСМОТРЕН)*/
    --light-gray: #EDEBF2; /*кнопки, используется для отображения статуса документов (Просмотрен)*/
}

/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */
@font-face {
    font-family: "Manrope";
    src: url(".//fonts/Manrope-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: url(".//fonts/Manrope-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Manrope";
    src: url(".//fonts/Manrope-SemiBold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Manrope";
    src: url(".//fonts/Manrope-Bold.ttf");
    font-weight: 900;
}


/* переопределение bootsrtap стилей */

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--info-blue);
    --bs-btn-border-color: var(--info-blue);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--accent-blue);
    --bs-btn-hover-border-color: var(--accent-blue);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--dark-blue);
    --bs-btn-active-border-color: var(--accent-blue);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--ice-blue);
    --bs-btn-disabled-border-color: var(--ice-blue);
}